.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
src/node_modules/@sapper/
__sapper__/
manifest.yaml
.dockerignore
.editorconfig
.gitattributes
.gitignore
.git/
Dockerfile
LICENSE
README.md
.github
